#css {
  display: none;
  margin-left: 5px;
  padding-top: 5px;
  float: left;
}

#php {
  display: none;
  margin-left: 5px;
  padding-top: 5px;
  float: left;
}

#c {
  display: none;
  margin-left: 5px;
  padding-top: 5px;
  float: left;
}

h3 {
  color: blue;
}
h2 {
  color: #0b2265;
  text-shadow: 5px;
  font-style: italic;
  text-decoration: underline;
}

#cssw {
  display: none;
  color: turquoise;
  font-size: 20px;
  margin-right: 150px;
  float: right;
}

#phpw {
  display: none;
  color: turquoise;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 150px;
  padding-top: 5px;
  float: right;
}

#cw {
  display: none;
  color: turquoise;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 150px;
  padding-top: 5px;
  float: right;
}

#inputtedname {
  display: none;
  color: turquoise;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 150px;
  padding-top: 5px;
  text-align: center;
  text-decoration: underline;
}
